<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario - Ikigai</title>
    <link rel="stylesheet" href="create-user.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"> 
</head>
<body>
    <div class="contenedor-login">
        <div class="imagen-login" > 
        </div>
        <div class="formulario-login">
            <div class="header">
                <button class="btn-regresar" routerLink="/registrar-cliente">&#8592;</button>
                <h1 class="title"><strong>Crear cuenta</strong></h1>
            </div>
            <form (ngSubmit)="DatosFijos()">
                <div class="grupo-formulario">
                    <label for="usuario">
                        <i class="bi bi-person-circle"></i> NOMBRE DE USUARIO
                    </label>
                    <input type="text" [(ngModel)]="dataPersona.usuario" id="usuario" name="usuario" required>
                </div>
                <div class="grupo-formulario">
                    <label for="contrasena">
                        <i class="bi bi-lock-fill"></i> CONTRASEÑA
                    </label>
                    <input type="password" [(ngModel)]="dataPersona.contrasena" id="contrasena" name="contrasena" required>
                </div>
                <div class="grupo-formulario">
                    <button type="submit" class="btn" ><strong>CREAR</strong></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>


