<div class="body p-5 ">
<div class="container-fluid fondo ">

    <div id="fonts"  class="row px-5 py-4">           

        <div class="col-lg-6">

            <h4 class="pt-3 ">NOMBRES:</h4>
            <input type="text" class="form-control text_field">

            <h4 class="pt-3">TIPO DE DOCUMENTO:</h4>
            <div class="input-group">
                <select class="form-select text_field">
                  <option selected>SELECCIONAR ...</option>
                  <option value="1">DNI</option>
                  <option value="2">PASAPORTE</option>
                  <option value="3">CARNET DE EXTRANJERÍA</option>
                </select>
            </div>
            
            <div class="row">

                <h4 class="pt-3">FECHA DE NACIMIENTO:</h4>
                <div class="col-md-4 pt-1">
                    <input type="text" class="form-control text_field" placeholder="D/D">
                </div>

                <div class="col-md-4 pt-1">
                    <input type="text" class="form-control text_field" placeholder="M/M">
                </div>

                <div class="col-md-4 pt-1">
                    <input type="text" class="form-control text_field" placeholder="A/A">
                </div>

            </div>
            
            <h4 class="pt-3">CORREO ELECTRÓNICO:</h4>
            <input type="text" class="form-control text_field">
            
        </div>

        <div class="col-lg-6">

            <h4 class="pt-3">APELLIDOS:</h4>
            <input type="text" class="form-control text_field">

            <h4 class="pt-3">NÚMERO DE DOCUMENTO:</h4>
            <input type="text" class="form-control text_field">

            <h4 class="pt-3">DIRECCIÓN:</h4>
            <input type="text" class="form-control text_field">

            <h4 class="pt-3">TELEFONO:</h4>
            <input type="text" class="form-control text_field">
            
        </div>

        <div class="col-12 pt-3">

            <div class="d-flex justify-content-end">
                
                <button class="btn btn-lg text-white btn_guardar">GUARDAR</button>                  

            </div>    

        </div>

    </div>

</div>
</div>