body {
    margin: 0; 
    font-family: Arial, sans-serif; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background: radial-gradient(circle at top left, #e73847, #a8dadb, #457b9d, #1d3557); /* Aplica un fondo degradado */
}

.comprobante {
    width: 100vw; 
    padding-bottom: 50px; 
    padding-top: 80px; 
    background: radial-gradient(circle at top left, #e73847, #a8dadb, #457b9d, #1d3557); 
    margin: 0;
}

.contenido-blanco {
    padding: 80px 20px 80px;
    width: 45%;
    margin: auto;
    
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.datos-tienda {
    text-align: center;
    flex-grow: 1;
}

.datos-boleta {
    text-align: center;
    flex-grow: 1;
    position: relative;
    border: 4px solid black;
}

.datos-boleta .logo {
    /* background-image: url('../inicio/image/logoIkigai.png'); */
    position: absolute;
    top: 0;
    left: 345px;
    width: 100px; /* Define el ancho del logo */
    height: 100px;
    transform: translateY(-20);
}

.logo{
    width: 50px;
    margin-right: 0px; 
    
}
.col {
    padding: 40px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.5);
}

.datos-cliente {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.datos-cliente .column {
    flex: 1;
    padding: 0 10px;
}

.femision {
    text-align: left;
    margin-bottom: 50px;
    font-size: 22px;
   
   
}

.detalles-tabla {
    width: 100%;
    border-collapse: collapse;
}

.detalles-tabla th, .detalles-tabla td {
    border: 3px solid black;
    padding: 8px;
    text-align: center;
}

.TOTAL {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.TOTAL .total {
    border-collapse: collapse;
    width: 28%;
}

.TOTAL .total th {
    border: 3px solid black;
    padding: 8px;
    text-align: center;
}