<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKIGAI ANIME Store</title>
    <link rel="stylesheet" href="receipt-list.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"> 
</head>
<body>
   

    <!--comprobante -->
    <div class="comprobante">
        <div class="contenido-blanco">

            <div class="encabezado">
                <div class="datos-tienda">
                    <p><strong>IKIGAI ANIME STORE</strong></p>
                    <p><strong>Av. Julian Arce Larreta #96 - Laredo, La Libertad</strong></p>
                    <p><strong>ikigaiik.animegmail.com</strong></p>
                </div>
                <div class="datos-boleta">
                    <p><strong>RUC: 10606924661</strong></p>
                    <p><strong>BOLETA DE VENTA ELECTRÓNICA</strong></p>
                    <p><strong>BOO - 3480</strong></p>
                    <div class="logo"></div>
                </div>
            </div>

            <div class="col">
                <div class="datos-cliente">
                    <div class="column">
                        <p><strong>Nombre:</strong> Jean Pool</p>
                        <p><strong>Apellidos:</strong> Vásquez Valderrama</p>
                        <p><strong>Dirección:</strong> Av. Los Laureles Mz B Lt 5</p>
                        <p><strong>Teléfono:</strong> 941219549</p>
                    </div>
                    <div class="column">
                        <p><strong>Tipo de documento:</strong> DNI</p>
                        <p><strong>N° de documento:</strong> 60692466</p>
                        <p><strong>Correo:</strong> jeanpool5921gmail.com</p>
                        <p><strong>Método de pago:</strong> Tarjeta</p>
                    </div>
                    <div class="column">
                        <p><strong>Tipo de comprobante:</strong> Boleta</p>
                    </div>
                </div>

                <div class="femision">
                    <p><strong>Fecha de Emisión:</strong></p>
                    <p><strong>01/01/2024</strong></p>
                </div>

                <table class="detalles-tabla">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Producto</th>
                            <th>Precio/U</th>
                            <th>SubTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>02</td>
                            <td>Monedero de Sapito de Naruto</td>
                            <td>S/16.00</td>
                            <td>S/32.00</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Goku Niño sentado en nube voladora</td>
                            <td>S/30.00</td>
                            <td>S/30.00</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Figura de acción de One Piece, Roronoa Zoro</td>
                            <td>S/35.00</td>
                            <td>S/35.00</td>
                        </tr>
                    </tbody>
                </table>

                <div class="TOTAL">
                    <table class="total">
                        <thead>
                            <tr>
                                <th>TOTAL:</th>
                                <th>S/97.00</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

