<!-- 

<footer class="bg-light text-dark pt-5 pb-4">

    <div class="container text-center text-md-start">

        <div class="row text-center text-md-start">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" >
                
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">
                    Nosotros
                </h5>
                <hr class="mb-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque saepe, maiores assumenda facilis doloremque perspiciatis minus, commodi cumque accusamus ea accusantium officiis tempora reprehenderit sunt dolorem excepturi incidunt blanditiis adipisci.
                </p>


            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5>
                    Nuestras Redes
                </h5>

            </div>
        </div>

    </div>


</footer>

 -->

    <footer>
       <div id="body" class="container-fluid text-start text-white ">
            <div class="row fs-4" id="footer-box">
            
                <ul class="col m-3 mx-5 d-flex flex-column">
                    <p>
                        <span class="fw-bold fs-3">
                            Ubicación
                        </span>
                    </p>
                    
                    <li class="d-flex align-items-center mb-2">
                       
                            <a  href="https://maps.app.goo.gl/QFV2rrc5rc44Mdn38"  target="_blank">
                                <img   class="float-start me-2" src="../../../../assets/imagenes/location.png" alt="imagen-ubicación">
                                    Av. Julian Arce Larreta #96 - Laredo 
                               
                            </a>
                    </li>
                    
                    <li class="d-flex aling-items-center mb-2">
                        <img class="float-start me-2" src="../../../../assets/imagenes/818149.png" alt="imagen-horario">
                               
                        Lunes - Sábado : 15:00 -  20:00 
                              

                    </li>
                </ul>
                
                <ul class="col m-3 d-flex flex-column">
                    <p>
                        <span class="fw-bold fs-3">
                            Nuestras Redes Sociales
                        </span>
                    </p>
                    
                    <li class="d-flex aling-items-center mb-2">
                        
                        <a href="https://api.whatsapp.com/send/?phone=51925724473&text&type=phone_number&app_absent=0"      target="_blank">
                            <img  class="float-start me-2" src="../../../../assets/imagenes/whatsapp.png" alt="logo-whatsapp">
                               
                            +51 941 219 549
                          
                        </a>    
                    </li>
                    
                    <li class="d-flex aling-items-center mb-2" >
                            
                            <a href="https://www.instagram.com/ikigai.anime_store/"  target="_blank"> 
                                <img  class="float-start me-2" src="../../../../assets/imagenes/instagram.png" alt="logo-instagram">
                                   
                                ikigai.anime_store
                              
                            </a>  
                    </li>
                    
                    <li class="d-flex aling-items-center mb-2">
                       
                            <a href="https://www.facebook.com/profile.php?id=61557674612828&locale=es_LA"  target="_blank">
                                <img  class="float-start me-2" src="../../../../assets/imagenes/facebook.png" alt="logo-facebook">
                                    
                                Ikigai Anime Store
                              
                            </a>     
                    </li>

                </ul>
                
                <div id="div-logo" class="col d-flex flex-column align-items-end ">
                    <img id="logo" class=""   src="../../../../assets/imagenes/logo-png.png" alt="logo-ikigaianimestore">
                </div>
            
                <div class="text-end fw-bold d-flex flex-column " id="footer">
                    © Todos los Derechos Reservados - IKIGAI ANIME STORE 2024
                </div>
              
            </div>
        </div> 
    </footer>
    