<!-- Cuerpo del comprobante -->
<div class="col d-flex justify-content-center align-items-center body-container">
    <div class="row container details-container">
        <!-- Contenido del comprobante -->
        <div class="col">
            <!-- Contenido de la fila 01 -->
            <div class="row containerd">
                <div>
                    <p><strong>Datos de cliente:</strong></p>
                    <p><strong>Nombre:</strong> Vanesa Edith <strong>Apellidos:</strong> Garcia Briceño</p>
                    <p><strong>Dirección:</strong> Av. Huarez de Junin Mz Z Lt 17.</p>
                </div>
            </div>
            
            <label style="height: 20px; "></label>

            <!-- Contenedor detalles del pedido -->
            <div class="row containerp">
                <p><strong>Detalles del pedido:</strong></p>

                <!-- División 01 para los detalles -->
                <div class="row">
                    <!-- Columna izquierda -->
                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <img style="max-width: 150px;" src="https://plazavea.vteximg.com.br/arquivos/ids/1471757-512-512/image-be2cd135154944609923d1234952dabe.jpg" alt="img">
                    </div>

                    <!-- Columna derecha -->
                    <div class="col">
                        <div>
                            <div style="background-color: white; border-radius: 10px;">
                                <p><strong>Monedero de Sapito de Naruto</strong></p>
                            </div>
                            <p><strong>Categoría:</strong> Muñecos</p>
                            <p><strong>Precio:</strong> S/35</p>
                            <div class="cantidad">
                                <button class="btn btn-danger">-</button>
                                <span>1</span>
                                <button class="btn btn-danger">+</button>
                            </div>
                        </div>
                    </div>
                </div>

                <label style="height: 30px;"></label><!-- Espaciado -->

                <!-- División 02 para los detalles -->
                <div class="row" style="padding-bottom: 20px;">
                    <!-- Columna izquierda -->
                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <img style="max-width: 150px;" src="https://d20f60vzbd93dl.cloudfront.net/uploads/tienda_000996/tienda_000996_59c5b322567a540038ab3a89b238076cb4b5cccc_producto_large_90.jpg" alt="img">
                    </div>

                    <!-- Columna derecha -->
                    <div class="col">
                        <div>
                            <div style="background-color: white; border-radius: 10px;">
                                <p><strong>Figura de acción de One Piece, Roronoa Zoro</strong></p>
                            </div>
                            <p><strong>Categoría:</strong> Muñecos</p>
                            <p><strong>Precio:</strong> S/35</p>
                            <div class="cantidad">
                                <button class="btn btn-danger">-</button>
                                <span>1</span>
                                <button class="btn btn-danger">+</button>
                            </div>
                        </div>
                    </div>
                </div>

                <label style="height: 30px;"></label><!-- Espaciado -->

                <!-- División 03 para los detalles -->
                <div class="row">
                    <!-- Columna izquierda -->
                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <img style="max-width: 150px;" src="https://http2.mlstatic.com/D_NQ_NP_981380-MLC68837582533_042023-O.webp" alt="img">
                    </div>

                    <!-- Columna derecha -->
                    <div class="col">
                        <div>
                            <div style="background-color: white; border-radius: 10px; color: black;">
                                <p><strong>Goku Niño sentado en la nube voladora</strong></p>
                            </div>
                            <p><strong>Categoría:</strong> Muñecos</p>
                            <p><strong>Precio:</strong> S/35</p>
                            <div class="cantidad">
                                <button class="btn btn-danger">-</button>
                                <span>1</span>
                                <button class="btn btn-danger">+</button>
                            </div>
                        </div>
                    </div>
                </div>

                <label style="height: 20px;"></label>
            </div>
        </div>

        <!-- Contenido de la fila 2 -->
        <div class="col container">
            <!-- Contenedor del resumen de compra -->
            <div class="resumen">
                <div>
                    <p><strong>Resumen de compra:</strong></p>
                    <div class="row">
                        <div class="col-md-8">
                            <p><strong>Coste total del artículo:</strong></p>
                            <p><strong>Total de envío:</strong></p>
                            <p><strong>Total a pagar:</strong></p>
                        </div>
                        <div class="col">
                            <strong>
                                <p>S/81.00</p>
                                <p>Gratis</p>
                                <p>S/81.00</p>
                            </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-bottom: 10px;">
                            <img src="https://elcomercio.pe/resizer/v2/6FUBT6XQXNHHNFOMCHIT7I34NA.jpg?auth=75b9cd3f5f728a5e2d90b6996b551d7e7e346d0a63104e3596036c1f214a1b77&width=580&height=330&quality=75&smart=true" alt="" style="width: 120px; height: 100px;">
                        </div>
                        <div class="col d-flex justify-content-center align-items-center" style="padding-left: 50px;">
                            <button class="btn btn-danger">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <label style="height: 20px;"></label>

            <!-- Contenedor para la tarjeta -->
            <div class="containerp">
                <p><strong>Detalles de Pago:</strong></p>
                <form>
                    <label>N° de tarjeta</label>
                    <input type="text" id="tarjeta" name="tarjeta" class="form-control">
                    <label for="titular">Nombre y Apellido de Titular de la Tarjeta</label>
                    <input type="text" id="titular" name="titular" class="form-control">
                    <label for="vencimiento">Fecha de vencimiento</label>
                    <div class="vencimiento">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" id="mes" name="mes" placeholder="M/M" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="año" name="año" placeholder="A/A" class="form-control">
                            </div>
                        </div>
                    </div>
                    <label for="cvv">Código de seguridad</label>
                    <div>
                        <input type="text" id="cvv" name="cvv" placeholder="CVV" class="form-control" style="width: 30%;">
                    </div>
                </form>
            </div>
            

        </div>
        
    </div>
</div>
