.link-light:hover {
    text-decoration: underline; /* subraya el texto al pasar el ratón por encima */
}

/* Estilos para la cabecera */
.header {
    background-color: #2e69a3;
    height: 80px;
    margin-right: 0;
    width: 100vw;
}

.header h3 {
    margin: 0;
}

.header a {
    text-decoration: none;
}

.header .bi {
    font-size: 2rem;
}

/* Estilos para el cuerpo del comprobante */
.body-container {

    padding-bottom: 50px;
    padding-top: 80px;
    background: radial-gradient(circle at top left, #e73847, #a8dadb, #457b9d, #1d3557);
}

.details-container {
    padding-left: 40px;
    padding-bottom: 80px;
    padding-top: 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de opacidad */
    
}

.details-container p {
    margin: 5px 0;
    
}

.details-container .cantidad {
    display: flex;
    align-items: center;
}

.details-container .btn {
    
    margin: 0 5px;
}

.resumen {
    border: 3px solid black; /* Contorno sólido negro */
    padding: 10px;
}

/* Estilos para el footer */
.footer {
    background-color: #273747;
    padding: 20px 0;
    padding-right: 0;
    padding-left: 20px;
    width: 100vw;
    margin: 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer p {
    margin: 5px 0;
}

.footer .bi {
    margin-right: 5px;
}

.copy {
    background-color: #A8A5A5;
    text-align: right;
    padding: 10px 0;
    border-top: 1px solid #000000; /* Contorno superior sólido gris */
    width: 100vw;
    margin: 0;
}

.copy p {
    margin: 0;
    
}


/* Estilos para los inputs */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding: 10px;
    border: 2px solid black;
    border-radius: 100px; /* Añadir bordes redondeados */
    font-size: 13px;
    width: 100%;
    box-sizing: border-box; /* Incluir el padding en el ancho total */
    outline: none; /* Quitar el contorno al hacer foco */
}

/* Estilo adicional para los botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2e69a3;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

/* Estilos específicos para los inputs dentro de .details-container */
.details-container input[type="text"],
.details-container input[type="email"],
.details-container input[type="password"],
.details-container textarea {
    width: calc(100% - 20px); /* Ajustar el ancho teniendo en cuenta el padding */
    padding: 12px; /* Ajustar el padding para alinear con otros elementos */
}
.product-details {
    background-color: white;
    border: 3px solid black; /* Borde sólido negro de 3px */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
}

.containerp {
    border: 3px solid black; /* Borde sólido negro de 3px */
    padding: 20px; /* Espaciado interno */
  
}
.containerd {
    border: 3px solid black; /* Borde sólido negro de 3px */
    padding: 20px; /* Espaciado interno */
  
}

.body{
    margin: 0px;
}
